<a href="https://colab.research.google.com/github/Muhammed-Akram/AI_ITI/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
num1,num2,num3=3,4,5

In [16]:
print(num1 + num2)
print(num3 - num1)
print(num1 * num2 + num3)
print(num1 * (num2 + num3))
print(num3 / num1)
print(num3 // num1)
print(num3 % num1)

7
2
17
27
1.6666666666666667
1
2

In [17]:
num1=float(num1)
num2=float(num2)
num3=float(num3)

In [18]:
print(type(num1))

<class 'float'>

In [19]:
print(num1 + num2)
print(num3 - num1)
print(num1 * num2 + num3)
print(num1 * (num2 + num3))
print(num3 / num1)
print(num3 // num1)
print(num3 % num1)

7.0
2.0
17.0
27.0
1.6666666666666667
1.0
2.0

In [20]:
x, y, z, g = 1, 2, 3, 4

In [21]:
x+y*z/g

2.5

In [22]:
y**z

8

In [23]:
str_a, str_b, str_c, num = 'python','is a','times fum language',1000

In [28]:
str_ab= str_a + str_b + str(num) + str_c
print(str_ab)

pythonis a1000times fum language

## Questions on control flow

### odd or even

In [35]:
ask_num = int(input("Enter a number"))
if ask_num % 2==0:
  print("even")
else:
  print("odd")

Enter a number-2
even

### pass or fail

In [37]:
std_score=int(input("Enter student's score:"))
if std_score >= 50:
  print("Pass")
else :
  print("Fail")

Enter student's score:50
Pass

### Largest of 3 numbers

In [45]:
n1=int(input("Enter n1:"))
n2=int(input("Enter n2:"))
n3=int(input("Enter n3:"))
if n1 >= n2 and n1 >= n3:
    print(n1)
elif n2 >= n1 and n2 >= n3:
    print(n2)
else:
    print(n3)

Enter n1:2
Enter n2:2
Enter n3:1
2

### Counting with for

In [44]:
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

### grade calculator

In [49]:
score=int(input("Enter a score:"))
if score < 60:
  print("F")
elif 60 <= score <= 69:
  print("D")
elif 70 <= score <= 79:
  print("C")
elif 80 <= score <= 89:
  print("B")
elif 90 <= score <= 100:
  print("A")

Enter a score:100
A

### Multiplication Table

In [57]:
n =int(input("Enter a number:"))
for i in range (1,11):
  print(i*n)

Enter a number:5
5
10
15
20
25
30
35
40
45
50

### Sum of Even Numbers

In [55]:
i=1
sum = 0
while (i <=50):
  if i % 2 == 0:
    sum+=i
  i+=1
print(sum)

650

### Factorial with while

In [56]:
num = int(input("Enter a non-negative integer: "))

factorial = 1
i = 1

if num < 0:
    print("Factorial is not defined for negative numbers.")
else:
    while i <= num:
        factorial *= i
        i += 1
    print(f"The factorial of {num} is {factorial}")

Enter a non-negative integer: 5
The factorial of 5 is 120